:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-slate: #434455;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-white: #ffffff;
  --color-light-slate: #8e8f99;
  --color-green: #31d0aa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  background-color: var(--color-white);
}

.logo-part-accent {
  color: var(--color-iris);
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}