
.features-icon {
  width: 64px;
  height: 64px;
}
.features-item-title {
  margin-bottom: 8px;
  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.features-item-text {
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
}