.our-portfolio {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-card {
  width: calc((100% - 2 * 24px) / 3);
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.1),
    0 1px 6px 0 rgba(46, 47, 66, 0.06);
  transition: box-shadow 250ms ease-in-out;
}

.portfolio-card:hover,
.portfolio-card:focus-within {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.port-img {
  width: 100%;
  height: auto;
}

.port-info {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  z-index: 2;
  position: relative;
  background-color: #fff;
}

.port {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.service {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  margin: 0;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.portfolio-card:hover .overlay,
.portfolio-card:focus-within .overlay {
  transform: translateY(0);
}

.overlay-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}